@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Such Cute!</h1>

</div>

@foreach (var dog in Model.Dogs)
{
    <hr />
    <img src="~/images/@dog.PhotoPath" class="img-thumbnail" style="width:300px" asp-append-version="true"/>
    <h2>@dog.Name</h2>
    <h4>Cuteness: @dog.Cuteness</h4>
    <a class="btn btn-outline-dark" asp-page="/Edit" asp-route-id="@dog.Id">Edit</a>
    <hr />
}